<!DOCTYPE html>
<html lang="en">
<head>
    <title>The Fellowship</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/styles.css" />
    <link rel="stylesheet" type="text/css" href="table.css" />

    <!-- 
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script src="http://angular-ui.github.com/bootstrap/ui-bootstrap-tpls-0.1.0.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
-->

<script type="text/javascript">
    function save() {
        var el = document.getElementById("modalTextarea");
            // POST to api endpoint
            alert("saved: " + el.value);
        }
    </script>

</head>
<body>
    <div class="container">
        <div class="row">

            <div class="col-xs-6">
                <h2>Welcome <small>to the Fellowship</small></h2>
            </div>

            <div class="col-xs-6">
                <form class="row form-inline">
                    <div class="col-xs-5 form-group">
                        <label class="control-label">Username</label>
                        <input type="text" class="form-control input-sm">
                    </div>
                    <div class="col-xs-5 form-group">
                        <label class="control-label">Password</label>
                        <input type="password" class="form-control input-sm">
                    </div>
                    <div class="col-xs-2">
                        <a class="btn btn-primary btn-xs" href="#">Sign in</a>
                    </div>
                </form>
            </div>
        </div>

        <div class="row">

            <div class="col-xs-3">
                <span class="input-group-addon label-info">
                    <span class="glyphicon glyphicon-book"></span>    Filter by:
                </span>
                <div class="list-group">
                    <a href="#" class="list-group-item">Professor</a>
                    <a href="#" class="list-group-item">Student</a>
                    <a href="#" class="list-group-item">Engineering</a>
                    <a href="#" class="list-group-item">Business</a>
                </div>
            </div>

            <div class="col-xs-9">

                <div class="form-group">
                    <label for="comment">Create new post</label>
                    <textarea class="form-control" rows="5" id="comment"></textarea>
                    <button class="btn btn-primary" style="margin-top: 1em">Submit</button>
                </div>

                <div class="jumbotron">
                    <div class="container">
                        <div class="row">
                            <div class="well">
                                <h4>Test Header</h4>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                Nulla fringilla augue ut lacus ullamcorper consequat. Cras a lacus aliquet, 
                                dignissim massa sit amet, luctus erat. Phasellus vitae lacus enim. 
                                Vestibulum non massa elementum, tincidunt arcu finibus, elementum augue. 
                            </div>
                            <div class="well">
                                <h4>Test Header</h4>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                Nulla fringilla augue ut lacus ullamcorper consequat. Cras a lacus aliquet, 
                                dignissim massa sit amet, luctus erat. Phasellus vitae lacus enim. 
                                Vestibulum non massa elementum, tincidunt arcu finibus, elementum augue. 
                            </div>
                            <div class="well">
                                <h4>Test Header</h4>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                Nulla fringilla augue ut lacus ullamcorper consequat. Cras a lacus aliquet, 
                                dignissim massa sit amet, luctus erat. Phasellus vitae lacus enim. 
                                Vestibulum non massa elementum, tincidunt arcu finibus, elementum augue. 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 
        <div class="row">
            <div class="col-sm-12">
                <button onclick="location.reload()" 
                    class="glyphicon glyphicon-refresh"></button>     
                <h3>All posts</h3>
            </div>
        </div>
        
        <div class="row">
            <div ng-repeat="p in posts">
                <div class="row">
                    <div class="col-sm-2">
                        <p>{{p.timestamp}}
                    </div>
                    <div class="col-sm-8">
                        <p>{{p.message}}
                    </div>
                    <div class="col-sm-2">
                        <button ng-click="edit(p)">edit</button>
                        <button ng-click="delete(p)">delete</button>
                    </div>
                </div>
            </div>
        </div>
    -->
    </div>
</div>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</body>
</html>